
<!-- Main jumbotron for a primary marketing message or call to action -->
<div>
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <!-- Signavio Logo -->
                <div class="col-md-2">
                    <!--
                    <img alt="OneStopShop" src="images/OneStopShop.png"></img>
                  -->
                </div>
                <div class="col-md-8 text-center">
                    <h1>trFac</h1>
                    <p>This is trFac: a Blockly based block language for Drools.</p>
                    <p>With trFac you can write your Drools business rules in an easy, graphical language.</p>
                </div>
                <!-- Red Hat Logo -->
                <div class="col-md-2">
                    <!--
                    <img alt="OneStopShop" src="images/OneStopShop.png"></img>
                  -->
                </div>
            </div>
        </div>
    </div>
    <!--
    <div class="container-fluid container-cards-pf">
        <div class="row row-cards-pf">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

                <div class="card-pf card-pf-view card-pf-view-select card-pf-view-single-select" ng-class="{'active': selectedCard === 'rhexpress'}" ng-click="selectCard('rhexpress')">
                    <div class="card-pf-body">
                        <div class="card-pf-top-element">
                            <span class="fa fa-credit-card card-pf-icon-circle"></span>
                        </div>

                        <h2 class="card-pf-title text-center">RedHat Express</h2>
                        <div class="card-pf-items text-center">
                            <div class="card-pf-item">
                                <span class="card-pf-item-text">CreditCard</span>
                            </div>
                        </div>
                        <p class="card-pf-info text-center"><strong>Provided by:</strong> <a href="http://www.redhat.com">Red Hat </a></p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="card-pf card-pf-view card-pf-view-select card-pf-view-single-select" ng-class="{'active': selectedCard === 'signaviocard'}" ng-click="selectCard('signaviocard')">
                    <div class="card-pf-body">
                        <div class="card-pf-top-element">
                            <span class="fa fa-credit-card card-pf-icon-circle"></span>
                        </div>
                        <h2 class="card-pf-title text-center">SignavioCard</h2>
                        <div class="card-pf-items text-center">
                            <div class="card-pf-item">
                                <span class="card-pf-item-text">CreditCard</span>
                            </div>
                        </div>
                        <p class="card-pf-info text-center"><strong>Provided by:</strong> <a href="http://www.signavio.com">Signavio</a></p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="card-pf card-pf-view card-pf-view-select card-pf-view-single-select" ng-class="{'active': selectedCard === 'avis'}" ng-click="selectCard('avis')">
                    <div class="card-pf-body">
                        <div class="card-pf-top-element">
                            <span class="fa fa-credit-card card-pf-icon-circle"></span>
                        </div>
                        <h2 class="card-pf-title text-center">MasterJBoss</h2>
                        <div class="card-pf-items text-center">
                            <div class="card-pf-item">
                                <span class="card-pf-item-text">Credit Card</span>
                            </div>
                        </div>
                        <p class="card-pf-info text-center"><strong>Provided by:</strong> <a href="http://www.jboss.com">JBoss</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <a class="btn btn-primary btn-lg" ng-href="#/apply" role="button">Apply</a>
            </div>
        </div>
    </div>
</div>
